<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VueJS Routing</title>
    <style>
        .loader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 4px;
            overflow: hidden;
            background-color: #edeff0;
            z-index: 1;
        }

        .loader:before {
            display: block;
            position: absolute;
            content: " ";
            left: -200px;
            width: 200px;
            height: 4px;
            background-color: #6AAFE6;
            animation: loading 2s linear infinite;
        }

        @keyframes loading {
            from {
                left: -200px;
                width: 30%;
            }

            50% {
                width: 30%;
            }

            70% {
                width: 70%;
            }

            80% {
                left: 30%;
            }

            95% {
                left: 120%;
            }

            to {
                left: 100%;
            }
        }
    </style>
</head>
<body>
    <div id="app">
        <app></app>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.2/vue-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script>
        let bus = new Vue()

        let Loader = {
            data() {
                return {
                    loading: false
                }
            },
            template: `
                <div class="loader" v-if="loading"></div>
            `,
            mounted() {
                bus.$on('loading', (loadingOrNot) => {
                    this.loading = loadingOrNot
                })
            }
        }

        let Home = {
            template: `
                <div>
                    <p>Home</p>
                    <router-link :to="{ name: 'users.profile', params: { username: 'iman' } }">Navigate</router-link>
                </div>
            `
        }

        let Account = {
            template: `
                <div>
                    Account
                </div>
            `
        }

        let User = {
            props: ['username'],
            data() {
                return {
                    user: null
                }
            },
            template: `
                <div class="user" v-if="user">
                    {{ user }}

                    <a href="#" @click.prevent="switchUser">Change user</a>
                </div>
            `,
            // if using beforeRouteEnter, it will go to the next page after ajax request has finished
            beforeRouteEnter(to, from, next) {
                bus.$emit('loading', true)

                axios.get('user.php').then((response) => {
                    bus.$emit('loading', false)
                    next((vm) => {
                        vm.setUser(response.data)
                    })
                })
            },
            beforeRouteUpdate() {
                bus.$emit('loading', true)

                axios.get('user2.php').then((response) => {
                    this.user = response.data
                    bus.$emit('loading', false)
                })  
            },
            methods: {
                setUser(user) {
                    this.user = user
                },
                switchUser() {
                    this.$router.push({ params: { username: 'amin' }})
                }
            }
            // mounted() {
            //     setTimeout(() => {
            //         axios.get('user.json').then((response) => {
            //             this.user = response.data
            //         })
            //     }, 1000)
            // }
        }

        // let Navigation = {
        //     template: `
        //         <ul>
        //             <li>
        //                 <router-link :to="{ name: 'home' }">Home</router-link>
        //             </li>
        //             <li>
        //                 <router-link :to="{ name: 'account' }">Account</router-link>
        //             </li>
        //         </ul>
        //     `
        // }

        let App = {
            components: {
                'loader': Loader
            },
            template: `
                <div class="wrapper">
                    <loader></loader>
                    <nav>
                        Some other page content
                    </nav>
                    <router-view></router-view>
                </div>
            `
        }

        let router = new VueRouter({
            routes: [
                {
                    path: '/',
                    name: 'home',
                    component: Home
                },
                {
                    path: '/users/:username',
                    name: 'users.profile',
                    component: User,
                    props: true
                }
            ]
        });

        // router.beforeEach((to, from, next) => {
        //     let meta = {}

        //     if (typeof to.meta === 'function') {
        //         meta = to.meta(to, from)
        //     } else {
        //         meta = to.meta
        //     }

        //     let title = meta.title

        //     if (typeof title === 'undefined') {
        //         document.title = 'MyBlog'
        //     } else {
        //         document.title = `${title} | MyBlog`
        //     }

        //     next()
        // })

        let app = new Vue({
            el: '#app',
            router: router,
            components: {
                'app': App
            }
        })
    </script>
</body>
</html>